@{
    ViewData["Title"] = "Home Page";
}

@{
    List<int> CanEditList = new List<int>();
}

@section topCSS {
    <style>
        .messageBorad th,
        .messageBorad td {
            padding: 10px;
            border: 1px solid #000;
        }

        .display-none {
            display: none;
        }
    </style>
}

<h1>Message Borad</h1>

<div>
    @if (ViewBag.MemberVM == null)
    {<a href="Member/Login">Login</a>}
    else
    {
        <span>@ViewBag.memberVM.UserName</span>
        <a href="Member/Logout">Logout</a>
    }
</div>

<form>
    <input name="UserName" />
    <input type="submit" value="搜尋" />
</form>

<div><a href="Message/LeaveAMessage">Leave a Message</a></div>

<table class="messageBorad">
    <tr>
        <th>編號</th>
        <th>暱稱</th>
        <th>帳號</th>
        <th>留言</th>
        <th>時間</th>
        <th>功能</th>
    </tr>
    @foreach (var messageVM in ViewBag.messageVMs)
    {
        <tr>
            <td>@messageVM.MessageId</td>
            <td>@messageVM.UserName</td>
            <td>@messageVM.Account</td>
            <td>
                <span id="contentSpan_@messageVM.MessageId">@messageVM.Content</span>
                <input id="contentInput_@messageVM.MessageId" class="display-none" value="@messageVM.Content" />
            </td>
            <td>@messageVM.Time</td>
            <td>
                @if (ViewBag.memberVM != null && ViewBag.memberVM.MemberId == messageVM.MemberId)
                {
                    CanEditList.Add(messageVM.MessageId);
                    <input id="editButton_@messageVM.MessageId" type="button" value="編輯" />
                    <input id="completeButton_@messageVM.MessageId" class="display-none" type="button" value="完成" />
                    <input id="deleteButton_@messageVM.MessageId" type="button" value="刪除" />
                }
            </td>
        </tr>
    }
</table>

@section endJS
{
    @foreach (int messageId in CanEditList)
    {
        <script>
            contentSpan_@messageId = document.getElementById("contentSpan_@messageId");
            contentInput_@messageId = document.getElementById("contentInput_@messageId");
            editButton_@messageId = document.getElementById("editButton_@messageId");
            completeButton_@messageId = document.getElementById("completeButton_@messageId");
            deleteButton_@messageId = document.getElementById("deleteButton_@messageId");

            editButton_@messageId .addEventListener('click', function () {
                contentInput_@messageId .value = contentSpan_@messageId .innerText;

                editButton_@messageId .style.display = "none";
                completeButton_@messageId .style.display = "inline-block";
                contentSpan_@messageId .style.display = "none";
                contentInput_@messageId .style.display = "inline-block";
            });

            completeButton_@messageId .addEventListener('click', function () {
                completeButton_@messageId .style.display = "none";
                contentInput_@messageId .style.display = "none";

                axios.post("Message/Edit", Qs.stringify({ MessageId: @messageId , Content: contentInput_@messageId .value }))
                    .then((res) => {
                        if (res.data == true) {
                            contentSpan_@messageId .innerText = contentInput_@messageId .value;
                            editButton_@messageId .style.display = "inline-block";
                            contentSpan_@messageId .style.display = "inline";
                        }
                        else {
                            alert("編輯失敗");
                            editButton_@messageId .style.display = "inline-block";
                            contentSpan_@messageId .style.display = "inline";
                        }
                    })
            });

            deleteButton_@messageId .addEventListener('click', function () {
                axios.post("Message/Delete", Qs.stringify({ MessageId: @messageId }))
                    .then((res) => {
                        if (res.data == true) {
                            location.reload()
                        }
                        else {
                            alert("刪除失敗");
                        }
                    })
            });
        </script>
    }
}
