@{
    ViewData["Title"] = "Home Page";
}

@{
    List<int> CanEditList = new List<int>();
}

@section topCSS {
    <style>
        .messageBorad th,
        .messageBorad td {
            padding: 10px;
            border: 1px solid #000;
        }

        .display-none {
            display: none;
        }

        .pages-box {
            display: flex;
            margin-top: 5px;
        }

        .page-box {
            border: 1px solid #000;
            margin-right: 5px;
            padding: 2px 5px;
        }

        .page-box:hover {
            color: #FC9929;
            background-color: #000000;
        }

        .page-box-now {
            color: #FC9929;
            background-color: #000000;
        }

        .pages-box a {
            text-decoration: none;
        }

        .pages-box span {
            margin-right: 5px;
        }
    </style>
}

<h1>Message Borad</h1>

<div>
    @if (ViewBag.MemberVM == null)
    {<a href="~/Member/Login">Login</a>}
    else
    {
        <span>@ViewBag.memberVM.UserName</span>
        <a href="~/Member/Logout">Logout</a>
    }
</div>

<form>
    <input name="userName" value="@ViewBag.userName" />
    <input class="display-none" name="nowPage" value="@ViewBag.nowPage" />
    <input type="submit" value="搜尋" />
</form>

<div><a href="~/Message/LeaveAMessage">Leave a Message</a></div>

<table class="messageBorad">
    <tr>
        <th>編號</th>
        <th>暱稱</th>
        <th>帳號</th>
        <th>留言</th>
        <th>時間</th>
        <th>功能</th>
    </tr>
    @foreach (var messageVM in ViewBag.messageVMs)
    {
        <tr>
            <td>@messageVM.MessageId</td>
            <td>@messageVM.UserName</td>
            <td>@messageVM.Account</td>
            <td>
                <span id="contentSpan_@messageVM.MessageId">@messageVM.Content</span>
                <input id="contentInput_@messageVM.MessageId" class="display-none" value="@messageVM.Content" />
            </td>
            <td id="timeTd_@messageVM.MessageId">@messageVM.Time</td>
            <td>
                @if (ViewBag.memberVM != null && ViewBag.memberVM.MemberId == messageVM.MemberId)
                {
                    CanEditList.Add(messageVM.MessageId);
                    <input id="editButton_@messageVM.MessageId" type="button" value="編輯" />
                    <input id="completeButton_@messageVM.MessageId" class="display-none" type="button" value="完成" />
                    <input id="deleteButton_@messageVM.MessageId" type="button" value="刪除" />
                }
            </td>
        </tr>
    }
</table>

<div class="pages-box">
    <a href="?UserName=@ViewBag.UserName&NowPage=@(Math.Max(ViewBag.NowPage-1, 1))"><div class="page-box">&lt;</div></a>
    @if (ViewBag.nowPage - 2 > 1)
    {<a href="?UserName=@ViewBag.UserName&NowPage=1"><div class="page-box">1</div></a>}
    @if (ViewBag.nowPage - 2 > 2)
    {<span>...</span>}
    @for (int i = Math.Max(ViewBag.nowPage - 2, 1); i <= Math.Min(ViewBag.nowPage + 2, ViewBag.totalPage); i++)
    {
        <a href="?UserName=@ViewBag.UserName&NowPage=@i"><div class="page-box @(i==ViewBag.nowPage? "page-box-now":"")">@i</div></a>
    }
    @if (ViewBag.nowPage + 2 < ViewBag.totalPage - 1)
    {<span>...</span>}
    @if (ViewBag.nowPage + 2 < ViewBag.totalPage)
    {<a href="?UserName=@ViewBag.UserName&NowPage=@ViewBag.totalPage"><div class="page-box">@ViewBag.totalPage</div></a>}
    <a href="?UserName=@ViewBag.UserName&NowPage=@(Math.Min(ViewBag.NowPage+1, ViewBag.totalPage))"><div class="page-box">&gt;</div></a>
</div>



@section endJS
{
    @foreach (int messageId in CanEditList)
    {
        <script>
            contentSpan_@messageId = document.getElementById("contentSpan_@messageId");
            contentInput_@messageId = document.getElementById("contentInput_@messageId");
            editButton_@messageId = document.getElementById("editButton_@messageId");
            completeButton_@messageId = document.getElementById("completeButton_@messageId");
            deleteButton_@messageId = document.getElementById("deleteButton_@messageId");
            timeTd_@messageId = document.getElementById("timeTd_@messageId");

            editButton_@messageId .addEventListener('click', function () {
                contentInput_@messageId .value = contentSpan_@messageId .innerText;

                editButton_@messageId .style.display = "none";
                completeButton_@messageId .style.display = "inline-block";
                contentSpan_@messageId .style.display = "none";
                contentInput_@messageId .style.display = "inline-block";
            });

            completeButton_@messageId .addEventListener('click', function () {
                completeButton_@messageId .style.display = "none";
                contentInput_@messageId .style.display = "none";

                axios.post("Message/Edit", Qs.stringify({ MessageId: @messageId , Content: contentInput_@messageId .value }))
                    .then((res) => {
                        if (res.data == true) {
                            contentSpan_@messageId .innerText = contentInput_@messageId .value;
                            timeTd_@messageId .innerText = TimetoString(new Date());
                            editButton_@messageId .style.display = "inline-block";
                            contentSpan_@messageId .style.display = "inline";
                        }
                        else {
                            alert("編輯失敗");
                            editButton_@messageId .style.display = "inline-block";
                            contentSpan_@messageId .style.display = "inline";
                        }
                    })
            });

            deleteButton_@messageId .addEventListener('click', function () {
                axios.post("Message/Delete", Qs.stringify({ MessageId: @messageId }))
                    .then((res) => {
                        if (res.data == true) {
                            location.reload()
                        }
                        else {
                            alert("刪除失敗");
                        }
                    })
            });
        </script>
    }

    <script>
        function TimetoString(UTCTime) {
            time = UTCTime;
            time.setHours(time.getHours() + 8);
            timeString = time.getUTCFullYear() + "/" + (time.getUTCMonth()+1) + "/" + time.getUTCDate() + " ";
            if (time.getUTCHours() >= 12) timeString += "下午 " + (time.getUTCHours() - 12).toString().padStart(2, 0);
            else timeString += "上午 " + time.getUTCHours();
            timeString += ":" + time.getMinutes().toString().padStart(2, 0) + ":" + time.getSeconds().toString().padStart(2, 0);

            return timeString;
        }
    </script>
}
